meta(name="description" content="%APP_META_DESCRIPTION%")
meta(name="keywords" content!="%APP_META_KEYWORDS%")
meta(name="title" content="Weploy 2023")
link(rel="canonical" href="https://%APP_DOMAIN%%APP_CONTEXT%")
